albumentations
certifi
click
fastprogress
japanize-matplotlib
jupyter
logzero
matplotlib
mecab-python3
mojimoji
neologdn
numpy
pandas
scikit-learn
scipy
seaborn
tokenizers
torch
torchtext
torchvision
tqdm
transformers

emoji
gensim
sudachipy
SudachiDict-core